@use "sass:math";
@import '../../styles/settings.scss';

.column {
  margin: 0 auto;
  flex-shrink: 0;
  width: calc(33% - 12px);
  padding: ($base-size * 1.5);
  border-radius: $radius;
  color: $color-dark;
  z-index: 3;
}

.cards {
  padding: math.div($base-size, 2) 0;
  z-index: 2;
  
}

.nofav {
  font-size: 45px;
  text-align: center;
  padding: ($base-size * 1.5);
  margin: 0 auto;
}

@media (max-width: 767px) {
  .column {
    width: 100%;
    margin: 0 0 $base-size 0;
  }
}